div.move {
    background-color: #0E0E0E !important;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px #000A;
    position: relative;
    &:hover {        
        background-color: #1E1E1E !important;
        cursor: pointer;
    }
    & * {
        cursor: pointer;
    }
}

div.move div.type {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.move div.damage-class {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.move.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    &:hover {
        cursor: not-allowed;
        background-color: #0E0E0E !important;
        opacity: 0.7;
    }
    & * {
        cursor: not-allowed;
        opacity: 0.7;
    }
}

div.move-info {
    background-color: #111111;
    margin: 0px 16px;
    padding: 8px 16px;
    box-shadow: 0px 0px 1px 1px #000A;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    &:empty {
        display: none;
    }
}

div.move-info > label {
    font-size: 12px;
    height: 12px !important;
    line-height: 12px !important;
    /* color: #e2dd42; */
}

div.move-info > hr {
    margin: 8px 0px !important;
}