div.move {
    background-color: #0E0E0E !important;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px 16px;
    &:hover {
        background-color: #1E1E1E !important;
    }
}

div.move div.type {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.move div.damage-class {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}