div.pokemon-details label {
    height: 20px !important;
    line-height: 20px !important;
    display: inline-block;
    text-align: right;
    width: 35%;
}

div.pokemon-details > div.flex-columns > label:nth-of-type(1) {
    font-weight: normal;
    font-size: small;
    color: darkgray
}

div.pokemon-details label + label {
    width: 65%;
    text-align: left;
    margin: 0px 16px;
}