button.select-move-button {
    height: 82px !important;
    border: 1px dashed #2E2E2E;
    background-color: transparent;
}

body:has(input#display-build:checked)  {
    & div.pokemon-build {
        display: none;
    }
}

body:has(input#display-details:checked) {
    & div.pokemon-details {
        display: none;
    }
}