button.select-move-button {
    height: 82px !important;
    border: 1px dashed #2E2E2E;
    background-color: transparent;
}

body:has(input#display-build:checked)  {
    & div.pokemon-info {
        display: none;
    }
}

body:has(input#display-details:checked) {
    & div.pokemon-build {
        display: none;
    }
}

div.ability-info, div.nature-info {
    background-color: #111111;
    margin: 0px 16px;
    padding: 8px 16px;
    box-shadow: 0px 0px 1px 1px #000A;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    &:empty {
        display: none;
    }
}

div.ability-info > label, 
div.nature-info > label {
    font-size: 12px;
    height: 12px !important;
    line-height: 12px !important;
    & > span.nature-negative { color: brown; }
    & > span.nature-positive { color: green; }
}

button.gender-button {
    font-weight: bold;
    width: 100%;
    &.selected {
        &.male {
            	background-color: #3355FF;
        }
        &.female {
            background-color: #FA92B2;
        }    
    }
}