/* div.evolution-chain div.flex-columns,
div.evolution-chain div.flex-rows {
    background-color: #00FF0011;
} */

div.evolution-chain div.type {
    font-size: 11px; 
    width: 64px !important;
    align-self: center;
}

img.arrow { transform: rotate(-90deg); }

div.evolutions > div.flex-columns:not(:only-of-type):first-of-type > div > div > img.arrow { transform: rotate(-135deg); }
div.evolutions > div.flex-columns:not(:only-of-type):last-of-type  > div > div > img.arrow { transform: rotate(-45deg); }