div.filter-form {
    max-width: 298px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    height: 80vh;
    overflow-y: scroll;
    @media (pointer:none), (pointer:coarse) {
        height: fit-content;
        max-width: 100% !important;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

div.filtered-pokemon {
    position: relative;
    &:hover {
        background-color: #2E2E2E;
        cursor: pointer;
    }
}

div.filter-matches {
    background-color: #111111;
    margin: 0px 16px;
    padding: 8px 16px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    &:empty {
        display: none;
    }
}

div.filter-matches > label {
    font-size: 12px;
    height: 16px !important;
    line-height: 16px !important;
    /* color: #e2dd42; */
}

div.filter-matches > hr {
    margin: 8px 0px !important;
}

div#pokemon-grid {
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}