div.responsive-border-radius {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    @media (pointer:none), (pointer:coarse) {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}

.input-left-half {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-right-half {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.filtered-pokemon {
    position: relative;
    &:hover {
        background-color: #2E2E2E;
        cursor: pointer;
    }
}

div.filter-matches {
    /* background-color: #072602; */
    background-color: #111111;
    margin: 0px 16px;
    padding: 8px 16px;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    &:empty {
        display: none;
    }
}

div.filter-matches > label {
    font-size: 12px;
    height: 16px !important;
    line-height: 16px !important;
    /* color: #e2dd42; */
}

div.filter-matches > hr {
    margin: 8px 0px !important;
}

